QWidget{
    background:  #101010;
    color:white;
}

QToolButton{
    margin-left:30px;
    border:solid;
    color:#ffffff;
    background-color:#0e0e0e;
    }
QToolButton:hover{
    background-color: #1e1e1e;
}

QLabel{
    color:white;
}
QPushButton{
    min-width:30px;
    min-height:30px;
    max-width: 30px;
    max-height: 30px;
}
QAction:hover{
    background-color:#363636;
}
QSlider#volumeslider{
    max-width: 150px;

}
