QWidget{
  background:  #101010;
  color:white;
}

QToolButton{
  width:80px;
  margin-left:10px;
  border:solid;
  color:#ffffff;
  background-color:#0e0e0e;
}
QToolButton:pressed{
  background-color: #313131;
}

QLabel{
  color:white;
}
QLabel#sublabel{
  /* background-color: red; */
  font-size:20px;
  background-color: rgba(0, 0, 0, 0);

}
QLabel#testlabel{
  background-color: yellow;

}
QPushButton{
  min-width:30px;
  min-height:30px;
  max-width: 30px;
  max-height: 30px;
}
QPushButton#BVolumeControl{
  border:none;
  background-color: #101010;
}

QSlider{
  border-radius: 20px;
}

/*video slider*/
QSlider::sub-page:horizontal {
  background: #0f353a;
  border-radius: 5px;
}

QSlider::groove:horizontal{
  background: #1e1e1e;
  height: 5px;
}
QSlider::handle::pressed{
  background-color: #484949;

}
QSlider::handle{
  background-color: #0f353a;
  width:10px;
}   

/*slider volume*/
QSlider#volumeslider{
  max-width: 150px;
}

QSlider::sub-page:horizontal#volumeslider {
  background: #484949;
  border-radius: 5px;
}

QSlider::groove:horizontal#volumeslider {
  background: #1e1e1e;
  border-radius: 5px;
  height: 20px;
  border-radius: 30px;
}

QSlider#volumeslider::handle{
  background-color: #484949;
  width:5px;
  border-radius: 30px;
}

QMenu{
  width: 160px;
  border: 2px solid #1e1e1e;
}
QSlider::handle:vertical{
  width: 0px;
}
QGraphicsView{
  background-color: #000000;
}