QLabel{
  font-size:20px;
  margin: 10px;
}

QPushButton#BorderColor,#BgColor,#FontColor{
  background-color: #1e1e1e;
  min-height: 30px;
  min-width: 65px;
  max-height: 30px;
  max-width: 65px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;

}

QSpinBox{
  background-color: #1e1e1e;
  min-height: 30px;
  min-width: 60px;
  max-height: 30px;
  max-width: 60px;
  font-size:20px;
}

QPushButton{
  font-size:13px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 40px;
  min-width: 60px;
  max-height: 40px;
  max-width: 60px;
}

QToolButton{
  background-color: #1e1e1e;
  height: 30px;
  width: 65px;
  height: 30px;
  width: 65px;
  border-radius: 5px;
  margin:0px;
}

QToolButton:pressed{
  background-color: #636363;
}